
.es-contact-1{
   
}

.es-contact-2{
   margin-top: 30px;
}

.Dblue-benefits-111{
    /* font-family: clibri; */
    font-size: 30px;
    color: #58C0BB;
   
   margin-top: 60px;

}
.contact-heading-tag{
    /* color: #004785; */
   
    font-size:x-large;
}
.contact-heading-tag-1{
    /* font-size:large; */
    color: #44c1b8;
    /* color: #004785; */
}
.contact-heading-tag-2{
    font-size:large;
    color: black;
}
.copy-right{
    
    /* background: linear-gradient(#58C0BB,#507D7B); */
    background-color: #44c1b8;
   
}
.map-1{
  

}
.map-2{
    
}
.map-3{
    min-width: 1170px;
   
}
.contact-new-font{
    /* font-family: calibri; */
    font-size: 16px;
    color: black;
}
.contact-strong-color{
    color: #0b8cf5;
}
.escrow-contact-para{
    /* font-family: barlow; */
}
.tel{
    color: black;
}