/* navbar */

.nav-head-c{
    /* font-size: large; */
    /* color:  #004785; */
    color: #668080;
    transition: 3ms;
    font-family: comfortaa;
    font-size: 16px;
   

   }
   .nav-head-c:hover{
    color: #58C0BB;
    /* color:rgb(0, 0, 254); */
   }

   /* baner-img */
   .baner-101{
    
   }

/* welcome page */

   .border-radius12{
    /* background-color: #004a96; */
    /* background: linear-gradient(#004a96,#000b3b); */
    /* background: linear-gradient(#58C0BB,#518C8A); */
    /* background: linear-gradient(#58C0BB,#507D7B); */
    background-color: #44c1b8;
   

    border-radius: 0px 0px 0px 0px;
   }
/* enquire now page */
   .enquire{
    /* background: linear-gradient(#58C0BB,#507D7B); */
    background-color:  #44c1b8;

   }

   .calibri{
    /* font-family: arial; */
    font-size: 24px;
    
   
   
}


/* ABOUT */

.about-1{
    /* color: #58C0BB; */
    color: #44C1B8;
}
.about-img-11{
    border-radius: 20px;
    height: 450PX;
    border: 2px solid #58C0BB;
    /* box-shadow: 3px 3px 3px 3px #96BDE0;   */
   transition: 1s;
}
.about-img-11:hover{
    transform: scale(1.1);
}
/* .about-img-11:hover{
    transform: scale(1.1);
} */
.escrow-about{
    font-size: 20px;
     /* color: #2b577c; */
    color: #44C1B8;
    font-weight: 600;
    text-transform: uppercase;
} 


.about-img-12{
    
    width: 1170px;
    border-radius: 20px;
    border: 2px solid #58C0BB;
    /* box-shadow: 3px 3px 3px 3px #96BDE0;    */
    transition: 1s;
}
.about-img-12:hover{
    transform: scaleY(1.1);
}

/* list item 11-12 */

.key-bor-1{
    border: 1px solid #004785 ;
    padding: 7px;
   
    box-shadow: 3px 3px  #96BDE0; 
    border-radius: 10px;
}
.key-bor-2{
    border: 1px solid  #004785 ;
    padding: 10px;
    box-shadow: 3px 3px  #96BDE0; 
    
    border-radius: 10px;
}
.key-h-color-1{
    color: #44c1b8;
   
    /* font-family: barlow; */
    font-size: 20px;
    padding-top: 10px;
    text-transform: uppercase;

}
.key-h-color{
    color: #44c1b8;
    /* font-family: barlow; */
    font-size: 20px;
    padding-top: 11px;
    text-transform: uppercase;

}
.list-item-escrow-new{
    /* font-family: barlow; */
    font-size: 16px;

}
.list-item-escrow-new-1{
    /* font-family: barlow; */
    font-size: 16px;
    margin-bottom: 40px;
}
.about-text-es-1{
    color: black;
    font-size: 16px; 
    text-align: justify;
    /* font-family: arial;    */
}
.about-text-es-2{
    color: black;
    font-size: 16px; 
    /* font-family: barlow;    */
}
.about-text-es-3{
    color: black;
    font-size: 16px; 
    text-align: justify;
    /* font-family: barlow;  */
}
.escrow-about-2{
    font-size: 20px;
    /* color: #2b577c; */
    color: #44C1B8;
    font-weight: 600;
    text-align: justify;
}
.key-h-color-2{
    color: #44c1b8;
   
    /* font-family: barlow; */
    font-size: 20px;
    padding-top: 5px;

}
.about-text-es-hhhhh{
    color: black;
    font-size: 16px; 
    /* font-family: barlow;  */
}
.about-img-1221{
    margin-top: 20px;
    /* height: 721px; */
    border-radius: 20px;
    border: 2px solid #58C0BB;
    box-shadow: 3px 3px  #96BDE0;  
    transition: 1s;
}
.about-img-1221:hover{
    
    transform: scale(1.1);
}

/* escrow transform */
.escrow-transform{
    /* color: #405c73; */
    color: #44C1B8;
    font-size: 20px;
    /* font-family: barlow; */
    font-weight: 600;
}
.escrow-transform-color{
    font-size: 16px;
    /* font-family: Barlow; */
    color: black;
}
.i-color{
    color: rgb(52, 70, 138);
}

.ro-margin-right-01{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 767px){
    .ro-margin-right-01{ 
        display: block;
    }
}
.escrow-how-can-we-help{
    /* font-family: barlow; */
    font-size: 16px;
    color: black;
    text-align: justify;
}