.f-c-a-1{
     margin-top: 5px;
    color: #58C0BB;
   
  
}

.serv-bor-101{
    border: 1px solid black;
    border-radius: 16px;
    border-color: #004785;
    height: 302px;
    padding: 5px;
    /* background-color: #507D7B; */
    /* background: linear-gradient(#507D7B,#58C0BB,#507D7B); */
    background-color: #44c1b8;
    transition: 1s;
}
.serv-bor-101:hover{
    transform: scale(1.1);
}
.services-new{
    /* font-size: 15px; */
    /* color: white; */
    /* color: #2b577c; */
    color: white;
    text-transform: uppercase;
 }

 .i-color-service{
   color: white;
}
 .ser-c-1{
    background-color: white;
    padding: 0;
   }
.Space-clear-1{
    margin-top: 50px;
 
 
   }
  
.about-text-es-4{
    color: black;
    font-size: 20px; 
    font-family: barlow;   
}
.escrow-heading-tag-1{
    color: #44c1b8;
    font-size: 20px; 
    font-family: barlow;  
    text-transform: uppercase;
}
.product-border-coeur-1{
    border: 1px solid black;
    border-color: #004785;
    border-radius: 16px;
    font-family: calibri;
  
  
  }
  .escrow-font-size-service{
    font-size: 16px;
    font-family: barlow;
  }
  
  .escrow-height-1211{
    height: 390px;
  }
  .color-escrow{
    color:  #58C0BB;
  }
  .calibri-font-new-1{
    font-family: barlow;
    font-size: 16px;
  }
  .escrow-hower{
transition: 1s;
  }
  .escrow-hower:hover{
    transform: scale(1.1);
  }
  .hover-escrow-h{
transition: 1s;
  }
  .hover-escrow-h:hover{
    transform: scale(1.1);
  }